.hide {
  display: none;
}


.show {
  display: inline-block;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  font-family: tahoma, sans-serif, arial, helvetica;
  background-color: #000;
}

div.wrapper {
  min-width: 300px;
  width: 100%;
  height: 97vh;
  margin: auto;
  background-color: #5658C4;
  border: 1px solid rgba(235, 241, 245, 0.5);
  position: relative;
}

div.wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #302466;
  box-shadow: inset 0 -75px 50px -50px rgb(16,33,60);
}

div.wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #302466;
  border-top: 1px solid rgba(235, 241, 245, 0.5);
  box-shadow: inset 0 95px 60px -55px rgb(16,33,60);
}

div.wrapper p.title {
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(203,204,237,.12);
  font-size: 24px;
  font-weight: 900;
  font-family: helvetica;
  text-transform: uppercase;
  z-index: 2;
}

div.wrapper div.step { 
  width: 100%;
  height: 40px;
  background: #37399D;
  box-shadow: 0 10px 0 0 rgba(44,45,124,1),
              0 20px 0 0 rgba(16,33,60,0.4);
}

div.wrapper .info {
  position: absolute;
  top: 85px;
  left: 50%;
  min-width: 80px;
  width: auto;
  max-width: 150px;
  transform: translateX(-50%);
  background-color: rgba(0,0,0,.5);
  color: rgba(255,255,255,.8);
  padding: 7px;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 5px;
  z-index: 10;
}

div.wrapper div.chat-box {
  position: relative;
  width: 92%;
  height: calc(100vh - 184px);
  margin: 10px auto;
  margin-top: 40px;
  padding: 10px;
  border-radius: 10px;
  background: rgba(231,238,249,1);
  box-shadow: 0 0 50px 0 #fff;
  z-index: 5;
}

div.wrapper div.chat-box div.chat-scroll {
  width: 100%;
  height: calc(100% - 32px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
}

div.wrapper div.chat-box div.chat-scroll::-webkit-scrollbar {
  width: 5px;
}

div.wrapper div.chat-box div.chat-scroll::-webkit-scrollbar-thumb {
  /* visibility: hidden; */
  background-color: #949494;
}

div.wrapper div.chat-box div.chat-scroll::-webkit-scrollbar-thumb:hover {
  /* visibility: visible; */
}

div.wrapper div.chat-box div.chat-scroll div.chat {
  position: relative;
  width: auto;
  min-width: 60px;
  max-width: 80%;
  height: auto;
  padding: 5px;
  padding-bottom: 16px;
  margin: 10px auto;
  white-space: pre-wrap;
}

div.wrapper div.chat-box div.chat-scroll div.bolt {
  color: rgba(255,255,255,0.9);
  background-color: #111231;
  border-radius: 9px;
  border-top-left-radius: 0;
  float: left;
  clear: both;
}

div.wrapper div.chat-box div.chat-scroll div.self {
  color: rgba(255,255,255,0.9);
  background-color: #36508C;
  border-radius: 9px;
  border-bottom-right-radius: 0;
  float: right;
  clear: both;
}

div.wrapper div.chat-box div.chat-scroll div.chat span {
  display: block;
}

div.wrapper div.chat-box div.chat-scroll div.chat span.content {
  font-size: 15px;
  font-family: consolas;
}

div.wrapper div.chat-box div.chat-scroll div.chat span.time {
  position: absolute;
  right: 9px;
  bottom: 2px;
  font-size: 10px;
  font-style: italic;
  color: rgba(255,255,255,0.5);
}

div.wrapper div.chat-box div.chat-form {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 40px;
}

div.wrapper div.chat-box div.chat-form input {
  position: relative;
  display: inline-block;
  width: 100%;
  height: inherit;
  font-size: 14px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 45px;
  outline: none;
  color: rgba(31,37,101,.9);
  background-color: rgba(178,179,228,0.7);
  font-weight: 600;
  letter-spacing: 1.5px;
  border: none;
  border-top: 1px solid rgba(53,54,149,.6);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

div.wrapper div.chat-box div.chat-form input:focus {
  background-color: rgba(178,179,228,0.2);
}

div.wrapper div.chat-box div.chat-form
  input::-webkit-input-placeholder {
  color: rgba(53,54,149,.6);
  font-weight: 600;
  letter-spacing: 1.5px;
}

div.wrapper div.chat-box div.chat-form span {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  font-size: 22px;
  color: #20215C;
}

div.wrapper div.chat-box div.chat-form span:active {
  color: #595BC5;
}

div.wrapper div.chat-box div.chat-form span:hover {
  cursor: pointer;
}

div.wrapper div.author {
  position: absolute;
  left: 50%;
  margin-top: -6px;
  transform: translateX(-50%);
  color: rgba(255,255,255,.5);
  font-size: 11px;
}

div.wrapper div.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

div.wrapper div.footer span.glyphicon {
  text-align: center;
  align-self: center;
  flex-basis: 49%;
  padding: 20px;
  color: rgba(255,255,255,.4);
  font-size: 19px;
}

div.wrapper div.footer span.glyphicon:hover {
  cursor: pointer;
}

div.wrapper div.footer .active {
  color: rgba(217,228,245,.9);
  box-shadow: inset 0 -10px 0 0 rgba(233,237,247,.2),
              inset 0 -40px 40px -30px rgba(233,237,247,.9);
}


@media (min-width: 500px){
  div.wrapper {
    width: 500px;
  }
}

